<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <script type='text/javascript' src='/javascripts/script.js'></script>
  </head>
  <body class="container">
    
    {{!-- navbar from bootswatch theme --}}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid ">
    <a class="navbar-brand" href="/">Employee Tracker</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Projects/index">Projects</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        {{#if user}}
        <li class ="nav-item">
          <a class="nav-link" href="#">{{user.username}}</a>
        </li>
         <li class ="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        {{else}}

         <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
         {{/if}}
      </ul>
    </div>
  </div>
 
</nav>
      
    {{{body}}}
  </body>
<footer>
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="https://meet-portfolio.herokuapp.com/">Assignment by: Meet Shah</a>
  </div>
</footer>
</html>
